:root {
  --ifm-color-primary: #d97706;
  --ifm-color-primary-dark: #c26b05;
  --ifm-color-primary-darker: #b86505;
  --ifm-color-primary-darkest: #985304;
  --ifm-color-primary-light: #ef8307;
  --ifm-color-primary-lighter: #f58a0a;
  --ifm-color-primary-lightest: #fa9f2e;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #f6ad3c;
  --ifm-color-primary-dark: #f39e1d;
  --ifm-color-primary-darker: #f1950d;
  --ifm-color-primary-darkest: #c77a09;
  --ifm-color-primary-light: #f8bc5b;
  --ifm-color-primary-lighter: #f9c36b;
  --ifm-color-primary-lightest: #fbd99a;
}
